SUBSYSTEM=="usb", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="717a", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="717b", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="718d", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="718e", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="716e", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="71d6", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="71d8", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="717a", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="717b", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="718d", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="718e", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="716e", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="71d6", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="71d8", RUN+="/etc/udev/agents.d/usb/nimxb_usb600x"
