SUBSYSTEM=="usb", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="715b", RUN+="/etc/udev/agents.d/usb/nimxb_usb92xx"
SUBSYSTEM=="usb", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="70a6", RUN+="/etc/udev/agents.d/usb/nimxb_usb92xx"
SUBSYSTEM=="usb", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="7135", RUN+="/etc/udev/agents.d/usb/nimxb_usb92xx"
SUBSYSTEM=="usb", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="70a3", RUN+="/etc/udev/agents.d/usb/nimxb_usb92xx"
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="715b", RUN+="/etc/udev/agents.d/usb/nimxb_usb92xx"
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="70a6", RUN+="/etc/udev/agents.d/usb/nimxb_usb92xx"
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="7135", RUN+="/etc/udev/agents.d/usb/nimxb_usb92xx"
SUBSYSTEM=="usb_device", SYSFS{idVendor}=="3923", SYSFS{idProduct}=="70a3", RUN+="/etc/udev/agents.d/usb/nimxb_usb92xx"
